
body {
    background-color: rgb(92, 186, 199);
}

h1 {
    text-align: left;
    color:  rgb(19, 13, 16);
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.column{
    float: left;
    width: 30%; 
    height: 330px;
}

.row{
    content: "";
    display: contents;
    clear: both;
}

label {
    display: block;
    padding: 5px;
    margin: 17px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    float: left;
    display: block;
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hello {
    display: block;
    color: rgb(19, 13, 16);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    align-content: center;
    width: 250px;
    background-color: lemonchiffon;
    font-family: 'Courier New', Courier, monospace;
}

