
body {
    background-color: rgb(92, 186, 199);
}

h1 {
    text-align: left;
    margin: 20px;
    color:  rgb(19, 13, 16);
    font-family: Arial, Helvetica, sans-serif
}
.column{
    float: left;
    width: 30%; 
    height: 330px;
}

.row{
    content: "";
    display: contents;
    clear: both;
}

label {
    display: block;
    padding: 5px;
    margin: 17px;
    font-family: Arial, Helvetica, sans-serif
}
p {
    float: left;
    display: block;
    padding: 5px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#hello {
    display: block;
    color: rgb(19, 13, 16);
    padding: 10px;
}

button {
    align-content: center;
    width: 250px;
    background-color: lemonchiffon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
